altgraph
certifi
chardet
charset-normalizer
humanreadable
idna
mbstrdecoder
packaging
pingparsing
pyinstaller
pyinstaller-hooks-contrib
pyparsing
python-dateutil
pytz
requests
six
subprocrunner
typepy
urllib3
